[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/tokenized-strategy"]
	path = lib/tokenized-strategy
	url = https://github.com/yearn/tokenized-strategy
[submodule "lib/superform-core"]
	path = lib/superform-core
	url = https://github.com/superform-xyz/superform-core
[submodule "lib/superform-core.git"]
	path = lib/superform-core.git
	url = https://github.com/superform-xyz/superform-core.git
[submodule "lib/create3-factory"]
	path = lib/create3-factory
	url = https://github.com/ZeframLou/create3-factory
