[profile.default]
solc_version = "0.8.28" # Override for the solc version (setting this ignores `auto_detect_solc`)
evm_version = "cancun" # to prevent usage of PUSH0, which is not supported on all chains
libraries = []
optimizer = true
optimizer_runs = 200
verbosity = 0
ffi = true
libs = ["lib"]
fs_permissions = [{ access = "read-write", path = "./" }]
out = "out"
script = "script"
src = "src"
test = "test"
auto_detect_remappings = false
assertions_revert = true # see https://t.me/foundry_rs/36706
legacy_assertions = false # see https://t.me/foundry_rs/36706
gas_limit = "18446744073709551615" # see https://t.me/foundry_rs/36706
remappings = [
    'forge-std/=lib/forge-std/src/',
    'transience/=lib/transience/src/',
    'openzeppelin/=lib/tokenized-strategy/lib/openzeppelin-contracts/',
    '@openzeppelin/=lib/superform-core/lib/ERC1155A/lib/openzeppelin-contracts/',
    'openzeppelin-contracts/=lib/superform-core/lib/ERC1155A/lib/openzeppelin-contracts/',
    'tokenized-strategy/=lib/tokenized-strategy/src/',
    'superform-core/=lib/superform-core/',
    'ERC1155A/=lib/superform-core/lib/ERC1155A/src/',
    'pigeon/=lib/superform-core/lib/pigeon/src/',
    'solady/=lib/superform-core/lib/pigeon/lib/solady/',
    'solmate/=lib/create3-factory/lib/solmate/src/',
    'create3-factory/=lib/create3-factory/',
    "src/=lib/superform-core/src/",
]
cbor_metadata = true

[profile.production]
out = 'out'       # separates optimized build folder (default profile) from localdev folder. Faster to build and deploy
src = 'src'
test = 'src'
script = 'script'


[fmt]
bracket_spacing = true
int_types = "long"
line_length = 120
multiline_func_header = "all"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = true

[fuzz]
runs = 200

[etherscan]
#base = { key = "${TENDERLY_ACCESS_KEY}", chain = 8453, url = "https://api.tenderly.co/api/v1/account/superform/project/v1/etherscan/verify/network/8453" }
unknown_chain = { key = "${TENDERLY_ACCESS_KEY}", chain = 95, url = "${TENDERLY_VIRTUAL_TESTNET_RPC_URL}/verify/etherscan" }
